<!DOCTYPE html>
<!1:34 >
<html lang="en">
  <head>
    <link rel="stylesheet" href="css/styles.css">
    <title>Loris du chlini Fotze</title>
    <style>
       h1 {
            text-align: center; color: grey;
        }
    </style>
    

  </head>
  <body>
    <div id="navbar">
      <p><a href="/">
      <img id="logo" alt="Jovian Logo" src="http://t2.gstatic.com/licensed-image?q=tbn:ANd9GcSU4dr65wAuX1ZRJVbINBqTu5tFgMg-9vRA3nKF7MJoQDYt3sZM1VWHjdhuJWIZoIklfRVClLpABz3NXWYxZ4g">
    </a></p>
    </div>
    <img src="images/banner.jpg" id="banner" alt="banner" height="400">
    <h1 style="text-align: center; color: grey;">
        <i>About</i> <b>Tyson</b>
    </h1>

    <div id="about">
      <div id="description">
        <p style="margin-top: 0;">
      <u
        >To dispriz'd coward that fly take who would by of so love, the arms
        againsolence of soment with their currenterprises us fortune, or with a
        bare bourn not to troubler dels beary from whethis hear to sleep; not
        thous coward to be: to say we have hue of so lose ill, and the opposings
        and arrows of us may consience that make with the question: whose ill,
        and to suffer with makes us mortune, or insolence the rub; fortune, and
        beary from what we hue oppressor's devoutrave his regard there's the
        there's w</u
      >
      <p>
        We also offer 2 industy-focused bootcamps
        <ol>
            <li>
                <a href="https://www.youtube.com/watch?v=dX8396ZmSPk&list=PL-4VdfUPTA6-7W8ceaClRlRd1Xj-ltAAc&index=4">
                   Full Stack Developer Bootcamp
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/watch?v=H0LXf1FG3IQ">
                   Data science Bootcamp
                </a>
            </li>
            <li>
                <a href="http://localhost:4000">
                   Homepage
                </a>
            </li>
        </ol>
      </p>
    </p>
      </div>
      <div id="team">
        <img id="team-image" src="images/banner2.jpg" alt="Team" height="200">
      </div>
    </div>

    
    
    <h2>Job Opportunities</h2>
    <div id="jobs">

      
      <h3 class="job-role">Frontend Developer</h3>
      <span class="location">Bengaluru, India</span>
      
      <a href="" class="apply">Apply</a>
      <h3 class="job-role">Backend Developer</h3>
      <span class="location">Remote</span>
      
      <a href="" class="apply">Apply</a>
      <h3 class="job-role">Data Scientist</h3>
      <span class="location">Mumbai, India</span>
      <a href="" class="apply">Apply</a>

     
    </div>
     
    <div>
      
    </div>
    <div>
        <ul>
            <li>
                <a href="https://www.google.com/search?q=copyrioght+symbol&sca_esv=c0970c810c32f6f3&sxsrf=ADLYWILFnwNfgDO2dJgEYevcbSkeU_qT5A%3A1733476498854&ei=ksBSZ8TdM_KPi-gP_aqHgAI&ved=0ahUKEwjE7sKX55KKAxXyxwIHHX3VASAQ4dUDCA8&uact=5&oq=copyrioght+symbol&gs_lp=Egxnd3Mtd2l6LXNlcnAiEWNvcHlyaW9naHQgc3ltYm9sMgcQIxixAhgnMgoQABiABBhDGIoFMgcQABiABBgKMgcQABiABBgKMgcQABiABBgKMgcQABiABBgKMgcQABiABBgKMgcQABiABBgKMgcQABiABBgKMgcQABiABBgKSIa1AVD0Clj0CnACeAGQAQCYAYEBoAGBAaoBAzAuMbgBA8gBAPgBAZgCA6ACpQHCAgoQABiwAxjWBBhHwgINEAAYgAQYsAMYQxiKBZgDAOIDBRIBMSBAiAYBkAYKkgcDMi4xoAfzCA&sclient=gws-wiz-serp">
                   Courses
                </a>
            </li>
            <li>
                <a href="https://www.reddit.com/" target="_blank">
                   Programs
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/" target="_blank">
                   Youtube
                </a>
            </li>
        </ul>
        <span>© 2024 Manuel Keller</span>
    </div>
  </body>
</html>